//main accion

#main-accion{
    text-align: center left;
    width: 100%;
    height: auto;
    margin: 0 auto;
    min-height: 50vh;
    background-color: $mainColor; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    .titAccion-conteiner{
        padding: 5% 10%;
    }
    .titAccion-conteiner h1{
        font-size: 10vw;
    }
    img{
        width: 25em;
    }
}

//peliculas accion

.pelisAccion{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 17%);
    grid-template-rows: repeat(2,auto);
    gap: 2em;
    justify-content: center;
    background-color: $mainColor;
    img{
        width: 13em;
    }
}