@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
//font
$mainFont: 'Montserrat', sans-serif;
$mainColor: black;
$secondColor: yellow;
$thirdColor: white;


h1,
h2,
h3,
a,
p{
    font-family: $mainFont;
    text-decoration: none;
    color: $thirdColor;
}

body{
    background-color: $mainColor;
    box-sizing: border-box;
    justify-content: center;
}

